html{
    overflow-y: scroll;
    color-scheme: light dark;
}

body{
    background: rgb(42,164,199);
    background: linear-gradient(242deg, rgba(42,164,199,1) 0%, rgba(27,129,70,1) 50%, rgba(37,53,120,1) 100%); 
    max-width: 1000px;
    margin: auto;
    padding-left: 3%;
	padding-right: 3%;
    text-align: center;
}



