body{
    background: url("../img/wp1894821.jpg")
}
#main{
    background-color: pink;
    font-size: 25px;
}
#other{
    color: white;
    text-shadow: black;
    font-size: 40px;
}
#text{}

#summaryComp, #summaryComp td {
    border: 1px solid white;
    border-collapse: collapse;
}
#summaryComp div img {
    width: 30%;
    height: auto;
}