html{
    overflow-y: scroll;
    color-scheme: light dark;
}

body{
    background: rgb(78, 125, 194);
    max-width: 1000px;
    margin: auto;
    padding-left: 3%;
	padding-right: 3%;
    text-align: center;
}



