body{
    background: gray;
}
#main{
    background-color: pink;
    font-size: 25px;
}
#other{
    color: white;
    text-shadow: black;
    font-size: 40px;
}
article{
    display: flex;
    border-style: double;
    border-color: palegreen;
    border-width: 5px;
    background-color: palevioletred;
}
#first{
    font-size: 30px;
    
}
aside {
    width: 30%;
    padding-left: 15px;
    margin-top: 15px;
    float: right;
    font-style: italic;
    background-color: lightgray;
    border-style: dotted;
    border-color: red;
  }

footer{
    margin-bottom: 10px;
    float: left;
    background-color: burlywood;
    border-style: solid;
    border-color: black;
}