body {
    background-color: lightgrey;
    color: white;
}
#nike720 {
    border: 1px solid rgb(230,230,230);
    padding: 5px;
    border-radius: 6px;
}
p {
    border: 1px solid red;
    padding: 4px;
}
#header {
    padding: 10px;
    background-color: #d5f3f5;
    color: #2c7982;
    border: 2px solid #2c7982;
    width: 98%;
}
#nav {
    padding: 10px;
    background-color: #f2cef4;
    color: #682670;
    border: 2px solid #682670;
    width: 98%;
    margin-top: 20px;
}
#main {
    padding: 10px;
    background-color: #eff5ad;
    color: #889222;
    border: 3px solid #889222;
    width: 70%;
    margin-top: 20px;
    margin-right: 15px;
}
#section {
    padding: 10px;
    background-color: #f0d2d2;
    color: #770e13;
    border: 3px solid #770e13;
    width: 98%;
    height: 90px;
    margin-top: 15px;
}
#article {
    padding: 10px;
    background-color: #c4f3c9;
    color: #1e762a;
    border: 2px solid #1e762a;
    width: 98%;
    height: 130px;
    margin-top: 15px;
}
#article2 {
    padding: 10px;
    background-color: #c4f3c9;
    color: #1e762a;
    border: 2px solid #1e762a;
    width: 98%;
    height: 130px;
    margin-top: 15px;
}
#aside {
    padding: 10px;
    background-color: #cdcff8;
    color: #090c4f;
    border: 2px solid #090c4f;
    width: 37%;
    float: right;
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}
#nav2 {
    padding: 10px;
    background-color: #f2cdf6;
    color: #5d116b;
    border: 2px solid #5d116b;
    width: 98%;
    margin-top: 15px;
    height: 33%;
}
#section2 {
    padding: 10px;
    background-color: #f0d2d2;
    color: #770e13;
    border: 2px solid #770e13;
    width: 98%;
    margin-top: 15px;
    height: 33%;
}
#footer {
    padding: 10px;
    background-color: #c3c3c3;
    color: black;
    border: 2px solid black;
    width: 98%;
    margin-top: 15px;
}
#main1 {
    display: flex;
}body {
    background-color: lightgrey;
    color: white;
}
#nike720 {
    border: 1px solid rgb(230,230,230);
    padding: 5px;
    border-radius: 5px;
}
p {
    border: 1px solid red;
    padding: 4px;
}
#header {
    padding: 10px;
    background-color: #d5f3f5;
    color: #2c7982;
    border: 2px solid #2c7982;
    width: 98%;
}
#nav {
    padding: 10px;
    background-color: #f2cef4;
    color: #682670;
    border: 2px solid #682670;
    width: 98%;
    margin-top: 15px;
}
#main {
    padding: 10px;
    background-color: #eff5ad;
    color: #889222;
    border: 2px solid #889222;
    width: 60%;
    margin-top: 15px;
    margin-right: 10px;
}
#section {
    padding: 10px;
    background-color: #f0d2d2;
    color: #770e13;
    border: 2px solid #770e13;
    width: 98%;
    height: 90px;
    margin-top: 15px;
}
#article {
    padding: 10px;
    background-color: #c4f3c9;
    color: #1e762a;
    border: 2px solid #1e762a;
    width: 98%;
    height: 130px;
    margin-top: 15px;
}
#article2 {
    padding: 10px;
    background-color: #c4f3c9;
    color: #1e762a;
    border: 2px solid #1e762a;
    width: 98%;
    height: 130px;
    margin-top: 15px;
}
#aside {
    padding: 10px;
    background-color: #cdcff8;
    color: #090c4f;
    border: 2px solid #090c4f;
    width: 37%;
    float: right;
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}
#nav2 {
    padding: 10px;
    background-color: #f2cdf6;
    color: #5d116b;
    border: 2px solid #5d116b;
    width: 98%;
    margin-top: 15px;
    height: 33%;
}
#section2 {
    padding: 10px;
    background-color: #f0d2d2;
    color: #770e13;
    border: 2px solid #770e13;
    width: 98%;
    margin-top: 15px;
    height: 33%;
}
#footer {
    padding: 10px;
    background-color: #c3c3c3;
    color: black;
    border: 2px solid black;
    width: 98%;
    margin-top: 15px;
}
#main1 {
    display: flex;
}